@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* GENERAL AREA */
* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  overflow: hidden;
}

section:nth-child(odd) {
  background-color: rgb(255, 250, 243);
}

section:nth-child(even) {
  background-color: rgb(253, 240, 225);
}

.section__title {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  position: relative;
}

a > svg:hover {
  opacity: 0.65;
  transition: opacity 400ms ease;
}

.link__hover-effect--black:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: black;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 36px;
  letter-spacing: 0.05px;
  padding-top: 40px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1; /*.flex and .flex-1 Makes section height/width span the whole page*/
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img {
  width: 100%;
  animation: fade-in 1300ms 1000ms backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wave {
  display: inline-block;
  position: relative;
  top: -4px;
  left: -8px;
  transform-origin: 70% 90%;
  transform: translateX(300px);
  animation: animate-wave 500ms infinite ease-in-out;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

.row {
  width: 100%;
  max-width: 800px;
  padding: 0 12px;
  margin: 0 auto;
}

.text--green {
  color: #506854;
}

/* NAVIGATION BAR */

nav {
  height: 100px;
  width: 100%;
  max-width: 1300px; /*sets width of whole nav*/
  padding: 0 12px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  text-decoration: none;
  font-weight: bold;
}

.nav__link--anchor-primary {
  background-color: #627f67;
  color: white;
  border-radius: 50px;
  padding: 8px 20px;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #506854;
}

.personal__logo {
  font-size: 24px;
  letter-spacing: 2px;
  color: #506854;
  font-weight: bold;
  margin: 0 12px; /*for smaller resolutions*/
}

/* ABOUT ME */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--mask {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about-me__picture {
  width: 100%;
}

.about-me__info--title {
  margin-bottom: 16px;
  margin-top: -16px;
  padding-left: 24px;
  animation: fade-up 650ms 400ms backwards;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 650ms 600ms backwards;
}

.about-me__links {
  margin-bottom: 28px;
  animation: fade-up 650ms 800ms backwards;
}

.about-me__link {
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 0 8px;
}

@keyframes fade-up {
  0% {
    opacity: 0%;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TECH STACK */

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86s;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  opacity: 0;
  transform: scale(0);
  transition: all 300ms;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

/* Projects */

.project {
  /* margin-bottom: 135px; */
}

.project:last-child {
  padding-bottom: 40px;
}

.project__list {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 80px;
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
  transform: scale(1.01);
}

.project__img--wrapper {
  display: flex;
}

.project__wrapper {
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.project:hover .project__wrapper:before {
  opacity: 0.7;
}

.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  opacity: 0;
  transition:
    transform 450ms,
    opacity 350ms;

  z-index: 3;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0px;
}

.project__description--link {
  font-size: 20px;
  margin-right: 8px;
  text-decoration: none;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: white;
}

/* FOOTER */

footer {
  background-color: #242424;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.footer__logo--img {
  width: 100px;
  height: 100px;
  filter: invert(100%);
}

.footer__social--list {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: white;
  text-decoration: none;
}

.footer__copyright {
  font-size: 12px;
}

.footer__anchor {
  position: relative;
  /* margin-bottom: -20px; */
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 36px;
  font-weight: bold;
  opacity: 0;
  transition: all 300ms;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(35px);
  opacity: 1;
}

/* Small Phones, tablets, large smartphones */
@media (max-width: 768px) {
  nav {
    height: 72px;
  }

  h1 {
    font-size: 28px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project__description--para {
    font-size: 14px;
  }

  .project__description {
    left: 80px;
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }

  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project__description--title {
    line-height: 1;
    text-align: center;
  }

  .project__description--para {
    display: none;
  }

  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }
}
